/* PALETA DE COLORES (FONDO, LETRAS) */
$color-base: rgba(239, 228, 224, 0.8784313725);
$color-letra-principal: #49403a;
$color-boton-menu: #EBD8D0;

/* ESTILO DE FUENTE PRINCIPAL */
$fuente-principal: "Montserrat";

/* MIXIN PARA CAMBIAR TAMAÑO */
 @mixin ajuste($width, $height) {
    height: $height;
    width: $width;
 }
 